
$bg-color1: #000A0C;
$bg-color2: #1B2E34;
$aqi-1: #d4e157;
$aqi-2: #ffee58;
$aqi-3: #ffca28;
$aqi-4: #FF7043;
$aqi-5: #ef5350;


$font-family: sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 32px;


$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 25px;

$breakpoint-1100: 1100px;
$breakpoint-1040: 1040px;
$breakpoint-992: 992px;
$breakpoint-850: 850px;
$breakpoint-660: 660px;
$breakpoint-580: 580px;
$breakpoint-520: 520px;
$breakpoint-480: 480px;
$breakpoint-450: 450px;
$breakpoint-380: 380px;